<%- include('elements/head') -%>

<div class="page-class">
    <div class="container">
	<div class="row">
	    <div class="col-md-12 col-sm-12">
		<article>
		    <h1><%- html -%></h1>
		    <p> Hello, world! Welcome to <a href="#">my site</a>!</p>
		</article>
	    </div> <!-- End .col-md-12 -->
	</div> <!-- End .row -->
    </div> <!-- End .container -->
</div> <!-- End .page-class -->

<%- include('elements/footer') -%>
